{% extends 'base.html.twig' %}

{% block title 'Édition' %}

{% block body %}
    <div class="container mt-4">
        <h1>Éditer le bien</h1>
        <div class="container">
            {% include 'admin/property/_form.html.twig' %}
        </div>
    </div>
{% endblock %}


