{% extends 'base.html.twig' %}

{% block title 'Édition' %}

{% block body %}
    <div class="container mt-4">
        <h1>Éditer l'option</h1>
        <div class="container">
            {% include 'admin/option/_form.html.twig' %}
        </div>
    </div>
{% endblock %}


